
.md-list-item-text {
    width: 95%;
    min-height: 80px;
    /* display: none; */
    padding-left: 20px;
    border: 1px solid salmon;
    margin-top: 10px;
    margin-bottom: 10px;
}

.md-button.md-fab{
    height: 40px; /*40*/
    width: 40px; /*40*/
    padding:0; 
    margin: 2px 0px 0px 2px;
}

ng-md-icon {
    fill:white; 
    height: 24px; /*24*/
}