


body {
    margin: 0;
    padding-bottom: 20px !important;
}

.themes {
    height: 45vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.item_selected {
    height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 1px solid white;
}

#MyViewerDiv {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #F0F8FF;
}


.md-primary {
    width: 96% !important;
}

.md-list-item-text {
    width: 100%;
    height: 200px;
    border: 1px solid red;
    display: none;
    padding-left: 20px;
}

.i_btn {
    min-width : 25px !important;
}

#i_color {
    background: #3A3A3A;
    border: 0px;
}
